[submodule "Carthage/Checkouts/SwiftTask"]
	path = Carthage/Checkouts/SwiftTask
	url = https://github.com/ReactKit/SwiftTask.git
[submodule "Carthage/Checkouts/ReactKit"]
	path = Carthage/Checkouts/ReactKit
	url = https://github.com/ReactKit/ReactKit.git
[submodule "Carthage/Checkouts/Alamofire"]
	path = Carthage/Checkouts/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Carthage/Checkouts/SwiftyJSON"]
	path = Carthage/Checkouts/SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON.git
[submodule "Carthage/Checkouts/Async"]
	path = Carthage/Checkouts/Async
	url = https://github.com/duemunk/Async.git
[submodule "Carthage/Checkouts/Dollar.swift"]
	path = Carthage/Checkouts/Dollar.swift
	url = https://github.com/ankurp/Dollar.swift.git
[submodule "Carthage/Checkouts/HanekeSwift"]
	path = Carthage/Checkouts/HanekeSwift
	url = https://github.com/Haneke/HanekeSwift.git
